<form novalidate (ngSubmit)="onSubmit(linkFrm)" [formGroup]="linkFrm">
  <h1 md-dialog-title>Create New Link</h1>
  <div md-dialog-content class="md-dialog-container">
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="title" formControlName="title" id="title">
      </md-input-container>
      <!--             <div *ngIf="formErrors.Title" class="text-danger">
                {{ formErrors.Title }}
       
       
       
       
              </div>
 -->
    </div>
    <div class="frm-ctrl">
      <md-input-container>
        <input mdInput placeholder="url" formControlName="url" id="url">
      </md-input-container>
      <!--             <div *ngIf="formErrors.Url" class="text-danger">
                {{ formErrors.Url }}
            </div>
 -->
    </div>
  </div>
  <!-- md-dialog-content -->
  <md-dialog-actions class="md-dialog-footer" align="end">
    <button type="button" color="warn" md-raised-button md-dialog-close="Cancel">Cancel</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button type="submit" color="primary" md-raised-button>Save</button>
  </md-dialog-actions>
</form>