 
.block {
    max-width:240px;
    padding-bottom:75px;
    flex-wrap:wrap;
    background-color: lightcyan;
    margin:10px;
}

.plusButton {
    position: absolute;
    right:0;
    margin-right: 10px;
} 
.cardHeader {
    margin-bottom:10px;
    margin-top:-10px;
}
.blockContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}